@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* Capital Blue */
  --color-steelblue-50: oklch(0.97 0.01 254);
  --color-steelblue-100: oklch(0.92 0.02 254);
  --color-steelblue-200: oklch(0.82 0.05 254);
  --color-steelblue-300: oklch(0.72 0.08 254);
  --color-steelblue-400: oklch(0.61 0.11 254);
  --color-steelblue-500: oklch(0.5 0.14 254);
  --color-steelblue-600: oklch(0.44 0.12 254);
  --color-steelblue-700: oklch(0.37 0.1 254);
  --color-steelblue-800: oklch(0.33 0.09 254);
  --color-steelblue-900: oklch(0.24 0.07 254);
  --color-steelblue-950: oklch(0.18 0.05 254);

  /* Capital Black */
  --color-darkslategray-50: oklch(0.95 0 180);
  --color-darkslategray-100: oklch(0.86 0 180);
  --color-darkslategray-200: oklch(0.71 0 180);
  --color-darkslategray-300: oklch(0.54 0 180);
  --color-darkslategray-400: oklch(0.35 0 180);
  --color-darkslategray-500: oklch(0.17 0 180);
  --color-darkslategray-600: oklch(0.15 0 180);
  --color-darkslategray-700: oklch(0.13 0 180);
  --color-darkslategray-800: oklch(0.11 0 180);
  --color-darkslategray-900: oklch(0.08 0 180);
  --color-darkslategray-950: oklch(0.06 0 180);

  /* Capital Orange */
  --color-coral-50: oklch(0.98 0.01 48);
  --color-coral-100: oklch(0.95 0.03 48);
  --color-coral-200: oklch(0.89 0.06 48);
  --color-coral-300: oklch(0.83 0.1 48);
  --color-coral-400: oklch(0.76 0.14 48);
  --color-coral-500: oklch(0.7 0.18 48);
  --color-coral-600: oklch(0.61 0.16 48);
  --color-coral-700: oklch(0.52 0.13 48);
  --color-coral-800: oklch(0.46 0.12 48);
  --color-coral-900: oklch(0.34 0.09 48);
  --color-coral-950: oklch(0.25 0.06 48);

  /* Capital Green */
  --color-forestgreen-50: oklch(0.98 0.01 150);
  --color-forestgreen-100: oklch(0.94 0.03 150);
  --color-forestgreen-200: oklch(0.87 0.06 150);
  --color-forestgreen-300: oklch(0.79 0.09 150);
  --color-forestgreen-400: oklch(0.71 0.13 150);
  --color-forestgreen-500: oklch(0.63 0.17 150);
  --color-forestgreen-600: oklch(0.55 0.15 150);
  --color-forestgreen-700: oklch(0.47 0.13 150);
  --color-forestgreen-800: oklch(0.41 0.11 150);
  --color-forestgreen-900: oklch(0.31 0.08 150);
  --color-forestgreen-950: oklch(0.22 0.06 150);

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
